In [1]:
#'''!pip install pymysql'''

In [2]:
import sqlite3
import pymysql
import pandas as pd
import numpy as np

In [3]:
# Conectar-se ao banco de dados SQLite
sqlite_conn = sqlite3.connect('yfhistoric.db')
sqlite_cursor = sqlite_conn.cursor()

# Conectar-se ao banco de dados MySQL
mysql_conn = pymysql.connect(host='192.168.15.57', user='yanadm', password='121212', database='yfhistoric')
mysql_cursor = mysql_conn.cursor()
mysql_cursor.execute("SET foreign_key_checks = 0")

0

In [4]:
# Obter os nomes das tabelas do banco de dados SQLite
tables = sqlite_conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
table_names = [table[0] for table in tables]


# Criar um dicionário para armazenar os DataFrames de cada tabela
yfhistoricdic = {}

# Iterar sobre as tabelas e criar um DataFrame para cada uma
for table_name in table_names:
    # Ler os dados da tabela e criar um DataFrame
    df = pd.read_sql_query(f"SELECT * FROM '{table_name}';", sqlite_conn)
    # Armazenar o DataFrame no dicionário, usando o nome da tabela como chave
    yfhistoricdic[table_name] = df

In [5]:
# Substituir "=" por "000" em todas as chaves
yfhistoricdic = {key.replace("=", "_COM_"): value for key, value in yfhistoricdic.items()}
yfhistoricdic = {key.replace(".", "_"): value for key, value in yfhistoricdic.items()}
yfhistoricdic = {key.replace("^", "STOCK_"): value for key, value in yfhistoricdic.items()}
dataframes_dict = yfhistoricdic

In [6]:
pandas_to_mysql_types = {
    np.dtype('int64'): 'BIGINT',
    np.dtype('float64'): 'FLOAT',
    np.dtype('datetime64[ns]'): 'DATETIME',
    np.dtype('object'): 'TEXT'
}

In [7]:
# Iterar sobre o dicionário de DataFrames
for table_name, df in dataframes_dict.items():
    # Substituir valores NaN por None em cada DataFrame
    dataframes_dict[table_name] = df.where(pd.notna(df), None)

In [8]:
# Iterar sobre o dicionário de DataFrames
for table_name, df in dataframes_dict.items():
    # Criar a tabela no MySQL
    cursor = mysql_conn.cursor()
    # Substituir valores NaN por NULL
    df.fillna(value=pd.NA, inplace=True)  # Use pd.NA para representar NULL
    # Inferir os tipos de dados das colunas e criar a string de colunas para a criação da tabela
    columns = []
    for col, dtype in df.dtypes.items():
        mysql_type = pandas_to_mysql_types.get(dtype, 'TEXT')
        columns.append(f"`{col}` {mysql_type}")
    columns_str = ', '.join(columns)
    
    create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns_str})"
    cursor.execute(create_table_query)
    print(f"Tabela '{table_name}' criada no MySQL com sucesso.")

    # Inserir os dados na tabela
    for index, row in df.iterrows():
        placeholders = ', '.join(['%s' for _ in df.columns])
        insert_query = f'''INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({placeholders})'''
        try:
            row = tuple(None if isinstance(valor, float) and np.isnan(valor) else valor for valor in row)
            cursor.execute(insert_query, tuple(row))
        except Exception as e:
            print(insert_query)
            print(f"Ocorreu um erro: {e}")
    print(f"Dados inseridos na tabela '{table_name}' no MySQL com sucesso.")

# Confirmar as alterações no MySQL
mysql_conn.commit()

Tabela 'indicators' criada no MySQL com sucesso.
Dados inseridos na tabela 'indicators' no MySQL com sucesso.
Tabela 'texts' criada no MySQL com sucesso.
Dados inseridos na tabela 'texts' no MySQL com sucesso.
Tabela 'niche' criada no MySQL com sucesso.
Dados inseridos na tabela 'niche' no MySQL com sucesso.
Tabela 'currencies' criada no MySQL com sucesso.
Dados inseridos na tabela 'currencies' no MySQL com sucesso.
Tabela 'tickets' criada no MySQL com sucesso.
Dados inseridos na tabela 'tickets' no MySQL com sucesso.
Tabela 'commodities' criada no MySQL com sucesso.
Dados inseridos na tabela 'commodities' no MySQL com sucesso.
Tabela 'cripto' criada no MySQL com sucesso.
Dados inseridos na tabela 'cripto' no MySQL com sucesso.
Tabela 'news' criada no MySQL com sucesso.
Dados inseridos na tabela 'news' no MySQL com sucesso.
Tabela 'summary' criada no MySQL com sucesso.
Dados inseridos na tabela 'summary' no MySQL com sucesso.
Tabela 'usd' criada no MySQL com sucesso.
Dados inseridos na tabela 'usd' no MySQL com sucesso.
Tabela 'mlearning' criada no MySQL com sucesso.
Dados inseridos na tabela 'mlearning' no MySQL com sucesso.
Tabela 'brl' criada no MySQL com sucesso.
Dados inseridos na tabela 'brl' no MySQL com sucesso.
Tabela 'ars' criada no MySQL com sucesso.
Dados inseridos na tabela 'ars' no MySQL com sucesso.
Tabela 'clp' criada no MySQL com sucesso.
Dados inseridos na tabela 'clp' no MySQL com sucesso.
Tabela 'mxn' criada no MySQL com sucesso.
Dados inseridos na tabela 'mxn' no MySQL com sucesso.
Tabela 'pen' criada no MySQL com sucesso.
Dados inseridos na tabela 'pen' no MySQL com sucesso.
Tabela 'uyu' criada no MySQL com sucesso.
Dados inseridos na tabela 'uyu' no MySQL com sucesso.
Tabela 'ves' criada no MySQL com sucesso.
Dados inseridos na tabela 'ves' no MySQL com sucesso.
Tabela 'bzd' criada no MySQL com sucesso.
Dados inseridos na tabela 'bzd' no MySQL com sucesso.
Tabela 'crc' criada no MySQL com sucesso.
Dados inseridos na tabela 'crc' no MySQL com sucesso.
Tabela 'gtq' criada no MySQL com sucesso.
Dados inseridos na tabela 'gtq' no MySQL com sucesso.
Tabela 'hnl' criada no MySQL com sucesso.
Dados inseridos na tabela 'hnl' no MySQL com sucesso.
Tabela 'nio' criada no MySQL com sucesso.
Dados inseridos na tabela 'nio' no MySQL com sucesso.
Tabela 'bob' criada no MySQL com sucesso.
Dados inseridos na tabela 'bob' no MySQL com sucesso.
Tabela 'btc' criada no MySQL com sucesso.
Dados inseridos na tabela 'btc' no MySQL com sucesso.
Tabela 'eth' criada no MySQL com sucesso.
Dados inseridos na tabela 'eth' no MySQL com sucesso.
Tabela 'bnb' criada no MySQL com sucesso.
Dados inseridos na tabela 'bnb' no MySQL com sucesso.
Tabela 'sol' criada no MySQL com sucesso.
Dados inseridos na tabela 'sol' no MySQL com sucesso.
Tabela 'ada' criada no MySQL com sucesso.
Dados inseridos na tabela 'ada' no MySQL com sucesso.
Tabela 'usdt' criada no MySQL com sucesso.
Dados inseridos na tabela 'usdt' no MySQL com sucesso.
Tabela 'xrp' criada no MySQL com sucesso.
Dados inseridos na tabela 'xrp' no MySQL com sucesso.
Tabela 'dot' criada no MySQL com sucesso.
Dados inseridos na tabela 'dot' no MySQL com sucesso.
Tabela 'usdc' criada no MySQL com sucesso.
Dados inseridos na tabela 'usdc' no MySQL com sucesso.
Tabela 'doge' criada no MySQL com sucesso.
Dados inseridos na tabela 'doge' no MySQL com sucesso.
Tabela 'avax' criada no MySQL com sucesso.
Dados inseridos na tabela 'avax' no MySQL com sucesso.
Tabela 'link' criada no MySQL com sucesso.
Dados inseridos na tabela 'link' no MySQL com sucesso.
Tabela 'luna' criada no MySQL com sucesso.
Dados inseridos na tabela 'luna' no MySQL com sucesso.
Tabela 'ltc' criada no MySQL com sucesso.
Dados inseridos na tabela 'ltc' no MySQL com sucesso.
Tabela 'algo' criada no MySQL com sucesso.
Dados inseridos na tabela 'algo' no MySQL com sucesso.
Tabela 'shib' criada no MySQL com sucesso.
Dados inseridos na tabela 'shib' no MySQL com sucesso.
Tabela 'matic' criada no MySQL com sucesso.
Dados inseridos na tabela 'matic' no MySQL com sucesso.
Tabela 'xlm' criada no MySQL com sucesso.
Dados inseridos na tabela 'xlm' no MySQL com sucesso.
Tabela 'icp' criada no MySQL com sucesso.
Dados inseridos na tabela 'icp' no MySQL com sucesso.
Tabela 'wbtc' criada no MySQL com sucesso.
Dados inseridos na tabela 'wbtc' no MySQL com sucesso.
Tabela 'etc' criada no MySQL com sucesso.
Dados inseridos na tabela 'etc' no MySQL com sucesso.
Tabela 'vet' criada no MySQL com sucesso.
Dados inseridos na tabela 'vet' no MySQL com sucesso.
Tabela 'fil' criada no MySQL com sucesso.
Dados inseridos na tabela 'fil' no MySQL com sucesso.
Tabela 'trx' criada no MySQL com sucesso.
Dados inseridos na tabela 'trx' no MySQL com sucesso.
Tabela 'theta' criada no MySQL com sucesso.
Dados inseridos na tabela 'theta' no MySQL com sucesso.
Tabela 'atom' criada no MySQL com sucesso.
Dados inseridos na tabela 'atom' no MySQL com sucesso.
Tabela 'ftt' criada no MySQL com sucesso.
Dados inseridos na tabela 'ftt' no MySQL com sucesso.
Tabela 'dai' criada no MySQL com sucesso.
Dados inseridos na tabela 'dai' no MySQL com sucesso.
Tabela 'aave' criada no MySQL com sucesso.
Dados inseridos na tabela 'aave' no MySQL com sucesso.
Tabela 'gc_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'gc_com_f' no MySQL com sucesso.
Tabela 'si_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'si_com_f' no MySQL com sucesso.
Tabela 'cl_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'cl_com_f' no MySQL com sucesso.
Tabela 'bz_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'bz_com_f' no MySQL com sucesso.
Tabela 'hg_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'hg_com_f' no MySQL com sucesso.
Tabela 'ng_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'ng_com_f' no MySQL com sucesso.
Tabela 'c_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'c_com_f' no MySQL com sucesso.
Tabela 'w_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'w_com_f' no MySQL com sucesso.
Tabela 'kc_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'kc_com_f' no MySQL com sucesso.
Tabela 'sb_com_f' criada no MySQL com sucesso.
Dados inseridos na tabela 'sb_com_f' no MySQL com sucesso.
Tabela 'ypfd_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'ypfd_ba' no MySQL com sucesso.
Tabela 'meli_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'meli_ba' no MySQL com sucesso.
Tabela 'bbar_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'bbar_ba' no MySQL com sucesso.
Tabela 'cres_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'cres_ba' no MySQL com sucesso.
Tabela 'pamp_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'pamp_ba' no MySQL com sucesso.
Tabela 'ts_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'ts_ba' no MySQL com sucesso.
Tabela 'glob_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'glob_ba' no MySQL com sucesso.
Tabela 'bma_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'bma_ba' no MySQL com sucesso.
Tabela 'txar_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'txar_ba' no MySQL com sucesso.
Tabela 'cepu_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'cepu_ba' no MySQL com sucesso.
Tabela 'rio_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'rio_ba' no MySQL com sucesso.
Tabela 'supv_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'supv_ba' no MySQL com sucesso.
Tabela 'ypfl_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'ypfl_ba' no MySQL com sucesso.
Tabela 'bbva_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'bbva_ba' no MySQL com sucesso.
Tabela 'desp_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'desp_ba' no MySQL com sucesso.
Tabela 'ggal_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'ggal_ba' no MySQL com sucesso.
Tabela 'alua_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'alua_ba' no MySQL com sucesso.
Tabela 'moli_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'moli_ba' no MySQL com sucesso.
Tabela 'edn_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'edn_ba' no MySQL com sucesso.
Tabela 'irsa_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'irsa_ba' no MySQL com sucesso.
Tabela 'bpat_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'bpat_ba' no MySQL com sucesso.
Tabela 'teco2_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'teco2_ba' no MySQL com sucesso.
Tabela 'erar_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'erar_ba' no MySQL com sucesso.
Tabela 'ctio_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'ctio_ba' no MySQL com sucesso.
Tabela 'mola_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'mola_ba' no MySQL com sucesso.
Tabela 'tgsu2_ba' criada no MySQL com sucesso.
Dados inseridos na tabela 'tgsu2_ba' no MySQL com sucesso.
Tabela 'vale3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'vale3_sa' no MySQL com sucesso.
Tabela 'itub4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'itub4_sa' no MySQL com sucesso.
Tabela 'bbdc4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'bbdc4_sa' no MySQL com sucesso.
Tabela 'abev3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'abev3_sa' no MySQL com sucesso.
Tabela 'bbas3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'bbas3_sa' no MySQL com sucesso.
Tabela 'b3sa3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'b3sa3_sa' no MySQL com sucesso.
Tabela 'petr4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'petr4_sa' no MySQL com sucesso.
Tabela 'ciel3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'ciel3_sa' no MySQL com sucesso.
Tabela 'elet6_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'elet6_sa' no MySQL com sucesso.
Tabela 'mglu3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'mglu3_sa' no MySQL com sucesso.
Tabela 'vvar3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'vvar3_sa' no MySQL com sucesso.
Tabela 'ggbr4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'ggbr4_sa' no MySQL com sucesso.
Tabela 'rail3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'rail3_sa' no MySQL com sucesso.
Tabela 'cyre3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'cyre3_sa' no MySQL com sucesso.
Tabela 'klbn11_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'klbn11_sa' no MySQL com sucesso.
Tabela 'rapt4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'rapt4_sa' no MySQL com sucesso.
Tabela 'ugpa3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'ugpa3_sa' no MySQL com sucesso.
Tabela 'usim5_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'usim5_sa' no MySQL com sucesso.
Tabela 'lame4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'lame4_sa' no MySQL com sucesso.
Tabela 'suzb3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'suzb3_sa' no MySQL com sucesso.
Tabela 'flry3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'flry3_sa' no MySQL com sucesso.
Tabela 'goll4_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'goll4_sa' no MySQL com sucesso.
Tabela 'sanb11_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'sanb11_sa' no MySQL com sucesso.
Tabela 'rent3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'rent3_sa' no MySQL com sucesso.
Tabela 'ecor3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'ecor3_sa' no MySQL com sucesso.
Tabela 'brkm5_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'brkm5_sa' no MySQL com sucesso.
Tabela 'wege3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'wege3_sa' no MySQL com sucesso.
Tabela 'jbss3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'jbss3_sa' no MySQL com sucesso.
Tabela 'irbr3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'irbr3_sa' no MySQL com sucesso.
Tabela 'ccro3_sa' criada no MySQL com sucesso.
Dados inseridos na tabela 'ccro3_sa' no MySQL com sucesso.
Tabela 'san_sn' criada no MySQL com sucesso.
Dados inseridos na tabela 'san_sn' no MySQL com sucesso.
Tabela 'ltm' criada no MySQL com sucesso.
Dados inseridos na tabela 'ltm' no MySQL com sucesso.
Tabela 'sqm' criada no MySQL com sucesso.
Dados inseridos na tabela 'sqm' no MySQL com sucesso.
Tabela 'bch' criada no MySQL com sucesso.
Dados inseridos na tabela 'bch' no MySQL com sucesso.
Tabela 'cap' criada no MySQL com sucesso.
Dados inseridos na tabela 'cap' no MySQL com sucesso.
Tabela 'andina-a' criada no MySQL com sucesso.
Dados inseridos na tabela 'andina-a' no MySQL com sucesso.
Tabela 'enelam' criada no MySQL com sucesso.
Dados inseridos na tabela 'enelam' no MySQL com sucesso.
Tabela 'bice' criada no MySQL com sucesso.
Dados inseridos na tabela 'bice' no MySQL com sucesso.
Tabela 'colbun' criada no MySQL com sucesso.
Dados inseridos na tabela 'colbun' no MySQL com sucesso.
Tabela 'entel' criada no MySQL com sucesso.
Dados inseridos na tabela 'entel' no MySQL com sucesso.
Tabela 'smu' criada no MySQL com sucesso.
Dados inseridos na tabela 'smu' no MySQL com sucesso.
Tabela 'falabella' criada no MySQL com sucesso.
Dados inseridos na tabela 'falabella' no MySQL com sucesso.
Tabela 'bsantander' criada no MySQL com sucesso.
Dados inseridos na tabela 'bsantander' no MySQL com sucesso.
Tabela 'sonda' criada no MySQL com sucesso.
Dados inseridos na tabela 'sonda' no MySQL com sucesso.
Tabela 'estado' criada no MySQL com sucesso.
Dados inseridos na tabela 'estado' no MySQL com sucesso.
Tabela 'parauco' criada no MySQL com sucesso.
Dados inseridos na tabela 'parauco' no MySQL com sucesso.
Tabela 'itaucorp' criada no MySQL com sucesso.
Dados inseridos na tabela 'itaucorp' no MySQL com sucesso.
Tabela 'conchatoro' criada no MySQL com sucesso.
Dados inseridos na tabela 'conchatoro' no MySQL com sucesso.
Tabela 'saam' criada no MySQL com sucesso.
Dados inseridos na tabela 'saam' no MySQL com sucesso.
Tabela 'bsan_sn' criada no MySQL com sucesso.
Dados inseridos na tabela 'bsan_sn' no MySQL com sucesso.
Tabela 'security' criada no MySQL com sucesso.
Dados inseridos na tabela 'security' no MySQL com sucesso.
Tabela 'enelchile' criada no MySQL com sucesso.
Dados inseridos na tabela 'enelchile' no MySQL com sucesso.
Tabela 'ilc' criada no MySQL com sucesso.
Dados inseridos na tabela 'ilc' no MySQL com sucesso.
Tabela 'bci' criada no MySQL com sucesso.
Dados inseridos na tabela 'bci' no MySQL com sucesso.
Tabela 'ecopetrol' criada no MySQL com sucesso.
Dados inseridos na tabela 'ecopetrol' no MySQL com sucesso.
Tabela 'bic' criada no MySQL com sucesso.
Dados inseridos na tabela 'bic' no MySQL com sucesso.
Tabela 'sur' criada no MySQL com sucesso.
Dados inseridos na tabela 'sur' no MySQL com sucesso.
Tabela 'bolivar' criada no MySQL com sucesso.
Dados inseridos na tabela 'bolivar' no MySQL com sucesso.
Tabela 'corona' criada no MySQL com sucesso.
Dados inseridos na tabela 'corona' no MySQL com sucesso.
Tabela 'nutresa' criada no MySQL com sucesso.
Dados inseridos na tabela 'nutresa' no MySQL com sucesso.
Tabela 'exito' criada no MySQL com sucesso.
Dados inseridos na tabela 'exito' no MySQL com sucesso.
Tabela 'cencosud' criada no MySQL com sucesso.
Dados inseridos na tabela 'cencosud' no MySQL com sucesso.
Tabela 'aval' criada no MySQL com sucesso.
Dados inseridos na tabela 'aval' no MySQL com sucesso.
Tabela 'geb' criada no MySQL com sucesso.
Dados inseridos na tabela 'geb' no MySQL com sucesso.
Tabela 'promigas' criada no MySQL com sucesso.
Dados inseridos na tabela 'promigas' no MySQL com sucesso.
Tabela 'epm' criada no MySQL com sucesso.
Dados inseridos na tabela 'epm' no MySQL com sucesso.
Tabela 'celsia' criada no MySQL com sucesso.
Dados inseridos na tabela 'celsia' no MySQL com sucesso.
Tabela 'isa' criada no MySQL com sucesso.
Dados inseridos na tabela 'isa' no MySQL com sucesso.
Tabela 'pfbcolom' criada no MySQL com sucesso.
Dados inseridos na tabela 'pfbcolom' no MySQL com sucesso.
Tabela 'davivienda' criada no MySQL com sucesso.
Dados inseridos na tabela 'davivienda' no MySQL com sucesso.
Tabela 'gnc' criada no MySQL com sucesso.
Dados inseridos na tabela 'gnc' no MySQL com sucesso.
Tabela 'argos' criada no MySQL com sucesso.
Dados inseridos na tabela 'argos' no MySQL com sucesso.
Tabela 'sura' criada no MySQL com sucesso.
Dados inseridos na tabela 'sura' no MySQL com sucesso.
Tabela 'pfg' criada no MySQL com sucesso.
Dados inseridos na tabela 'pfg' no MySQL com sucesso.
Tabela 'amxl_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'amxl_mx' no MySQL com sucesso.
Tabela 'gmexicob_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gmexicob_mx' no MySQL com sucesso.
Tabela 'femsaubd_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'femsaubd_mx' no MySQL com sucesso.
Tabela 'bimboa_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'bimboa_mx' no MySQL com sucesso.
Tabela 'cemexcpo_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'cemexcpo_mx' no MySQL com sucesso.
Tabela 'gfnorteo_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gfnorteo_mx' no MySQL com sucesso.
Tabela 'elektra_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'elektra_mx' no MySQL com sucesso.
Tabela 'gapb_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gapb_mx' no MySQL com sucesso.
Tabela 'alfaa_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'alfaa_mx' no MySQL com sucesso.
Tabela 'omab_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'omab_mx' no MySQL com sucesso.
Tabela 'gcarsoa1_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gcarsoa1_mx' no MySQL com sucesso.
Tabela 'labb_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'labb_mx' no MySQL com sucesso.
Tabela 'asurb_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'asurb_mx' no MySQL com sucesso.
Tabela 'gacmab_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gacmab_mx' no MySQL com sucesso.
Tabela 'simecb_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'simecb_mx' no MySQL com sucesso.
Tabela 'alpeka_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'alpeka_mx' no MySQL com sucesso.
Tabela 'vlrs_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'vlrs_mx' no MySQL com sucesso.
Tabela 'gentera_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gentera_mx' no MySQL com sucesso.
Tabela 'bsmxb_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'bsmxb_mx' no MySQL com sucesso.
Tabela 'tlevisacpo_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'tlevisacpo_mx' no MySQL com sucesso.
Tabela 'lalab_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'lalab_mx' no MySQL com sucesso.
Tabela 'herdez_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'herdez_mx' no MySQL com sucesso.
Tabela 'gcc_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gcc_mx' no MySQL com sucesso.
Tabela 'gigante_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gigante_mx' no MySQL com sucesso.
Tabela 'bbajioo_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'bbajioo_mx' no MySQL com sucesso.
Tabela 'gsanborb-1_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'gsanborb-1_mx' no MySQL com sucesso.
Tabela 'funo11_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'funo11_mx' no MySQL com sucesso.
Tabela 'grumab_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'grumab_mx' no MySQL com sucesso.
Tabela 'kuob_mx' criada no MySQL com sucesso.
Dados inseridos na tabela 'kuob_mx' no MySQL com sucesso.
Tabela 'bap_lm' criada no MySQL com sucesso.
Dados inseridos na tabela 'bap_lm' no MySQL com sucesso.
Tabela 'scco' criada no MySQL com sucesso.
Dados inseridos na tabela 'scco' no MySQL com sucesso.
Tabela 'volc_ob' criada no MySQL com sucesso.

In [11]:
sqlite_conn.close()
mysql_conn.close()